<main>
	<h1>Bienvenue en Veille Technologique</h1>
	<p>
		Cette application vous permet de visionner une liste de membre ainsi que de modifier/ajouter cette dernière à votre guise
	</p>
	<div class="img">
		<img src="/img/eddy.jpg">
	</div>
</main>