<table class="tableau">
	<% let noLigne = 0 %>

	<% for(elm of adresses) {%>
		<% if (noLigne==0) { %>
			<tr>
				<% noLigne++ %>
				<% for(elem in elm) {%>
					<td><%= elem %></td>
				<%}%>
				<td><a href=""><i class="fas fa-user-plus"></i></i></a></td>
			</tr>
		<% } %>

		<tr>
			<% for(elem in elm) {%>
				<td><%= elm[elem] %></td>
			<%}%>
			<td><a href=""><i class="far fa-save"></i></a></td>
			<td><a href="/detruire/<%= elm._id %>"><i class="fas fa-eraser"></i></a></td>
		</tr>
	<% } %>
</table>