<main>
	<form method="POST" action="/ajouter">
		<input type="text" placeholder="Nom" name="nom">
		<input type="text" placeholder="Prénom" name="prenom">
		<input type="text" placeholder="Telephone" name="telephone">
		<input type="text" placeholder="Courriel" name="courriel">
		<input class="sub" type="submit" value="S'inscrire">
	</form>
</main>