<form action="/ajouter" method="POST">
	 <input type="text" placeholder="nom" name="nom" required="">
	 <input type="text" placeholder="telephone" name="telephone" required="">
	 <button type="submit" value="Ajouter">Submit</button>
</form>