<head>
	<meta charset="UTF-8">
	<title>Mon Application</title>
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</head>