<head>
	<meta charset="UTF-8">
	<title>Mon Application</title>
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
	<link rel="stylesheet" type="text/css" href="/css/normalise.css">
	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</head>

<header style="display: none;">
	<form method="POST" action="/modifier" id="mon_formulaire">
		<input type="text" name="_id">
		<input type="text" name="nom">
		<input type="text" name="prenom">
		<input type="text" name="telephone">
		<input type="text" name="courriel">
	</form>
</header>