<!DOCTYPE html>
<html lang="fr">
		<%- include('composants/head') %> 
	<body>
		<%- include('composants/menu') %> 
		<%- include('composants/form') %> 
	</body>
		<%- include('composants/footer') %> 
</html>
