body {
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	background: #008AFF;
	color: #FFA619;
}

nav {
	width: 100%;
	display: flex;
	height: 10%;
	align-items: center;
	justify-content: center;
}

a {
	text-decoration: none;
	text-align: center;
	font-weight: 800;
	font-size: 2em;
	width: 10%;
	margin-right: 1%;
	margin-left: 1%;
	color: #FF9C00;
	background-color: rgba(255, 166, 25, 0);
	transition: background-color 0.5s, color 2s;
}

a:hover {
	background-color: rgba(255, 166, 25, 1);
	color: black;
}

main {
	width: 100%;
	height: 80%;
	display: flex;
	/*justify-content: center;*/
	flex-direction: column;
	align-items: center;
}

td {
	
}

footer {
	display: flex;
	height: 10%;
	width: 100%;
	align-items: center;
	justify-content: center;
}